:root {
    --background-color: #EDF1D6;
    --btnClear-color: #797979;
    --btnSubmit-color: #609966;
    --text-content: #ffffff;
    --textBtn-color: #ffffff;
    --form-color: #9DC08B;
    --line-color: #40513B;
    --header-height: 68px;
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--text-content);
}

body {
    height: 100vh;
    background-color: var(--background-color);
    font-size: var(--font-size);
    margin: 0 auto;
}

.grid {
    width: 1200px;
    max-width: 100%;
    
}

ul > li {
    list-style: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
  
.col2,
.col50 {
    width: 50%;
}
  
.col20 {
    width: 20%;
}
  
.col3 {
    width: 33.3333%;
}
  
.col30 {
    width: 30%;
}
  
button {
    border: none;
    padding: 6px 16px 8px 16px;
}
  
.btn {
    background-color: var(--btnSubmit-color);
    color: var(--textBtn-color);
}

nav {
    background-color: var(--form-color);
    justify-content: space-around;  
    box-shadow: var(--line-color) 0 2px;
}

div.container {
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
}

a.navbar-brand {
    text-decoration: none;
}

.navbar-brand,
.nav-link {
    color: var(--text-content);
}

ul.navbar-nav {
    padding: 0;
    
}

ul.navbar-nav li {
    padding: 8px;
}

.col-md-8 {
    justify-content: space-around;
}

.card {
    margin-top: 40px;
    width: 450px;
    max-width: 100%;
    background-color: var(--form-color);
    border-radius: 4px;
    border: #000 1px solid;
}

.card-header {
    padding: 8px 16px;
    border-bottom: #000 1px solid;
    font-style: italic;
}

.card-body {
    padding: 8px 16px 0 16px;
}

.card-body input {
    border-radius: 4px;
    background-color: #797979;
    margin-left: 8px;
    font-size: var(--font-size);
}

.row.mb-3 {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
}

.row.mb-0 {
    margin-bottom: 8px;
    flex-direction: row-reverse;
}

.row.mb-0 .col-md-8.offset-md-4 {
    justify-content: space-between;
    align-items: center;
}

.btn-link {
    background-color: transparent;
}

li.nav-item.dropdown {
    justify-content: space-around;
}

.nav-link.dropdown-toggle {
    margin-right: 8px;
}